
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(59, 100, 116);
}

h1 {
  text-align: center;
  color: #333;
}

div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100px;
  /*background-color: rgb(194, 128, 255);*/
  background-color: #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

th {
  background-color: #4caf50;
  color: white;
}

td {
  background-color: #4d4d4d;
  /*color: rgb(255, 162, 0);*/
  color:white
}

a {
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
}

a:hover {
  background-color: #45a049;
}

.calendar-date.today {
    background-color: #dd201c; /* Light red color, adjust as needed */
}

.start-date{
  width: 200px;
}
.end-date{
  width: 200px;
}
label {
  font-weight: bold;
}
.empname{
  color:rgb(255, 166, 0);
  color:white;
  font-size: 30px;
}
.check-box input[type="checkbox"]{
  width: 15px;

}


/* Updated CSS for the checkbox */
.checkbox-container {
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"]:checked {
  content: '✔'; /* Display a checkmark when checked */
}


.checkbox-container input[type="checkbox"]:checked + span {
  color: #ff0000; /* Change text color when checked */
}
.checkbox-container:hover {
  background-color: #a07145;
}

.update-button{
  float:none;
  width :100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
  height: 60px;
}

.last-row{
  height: 60px;
}
